<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

                                    <!-- Adding Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js" ></script>

                                    <!-- Adding Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

                                    <!-- Adding custom css -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <title>Loris</title>
</head>
<body ng-app="myApp">
<!-- Code below this line -->


<!-- No code below this line except the footer -->
<main ui-view=""></main>

<!-- Footer -->
<footer>
    <!-- Some code here (delete this line when coding the footer -->
</footer>
<script src="/app.js"></script>
</body>
</html>